.divImg img {
  width: 25%;
}

.dishesHead {
  display: flex;
  justify-content: space-between;
}

body {
  background: #d7d7cd;
}

.formDiv {
  border: 1px;
  width: 480px;
  margin: auto;
}

.postCard {
  border-radius: 3px;
  border: 1px;
  width: 680px;
  max-height: 600px;
  overflow: scroll;
  margin: auto;
}

.innerPost {
  border: 1px;
  border-radius: 3px;
}

.priceModal {
  margin-left: 80px;
}

.modalBtn {
  margin-left: 420px;
}
